.footer {
	margin-top: 1.5rem;
	padding: 1rem 0 0.5rem;
	border-top: 1px solid var(--color-border);
	background-color: var(--color-bg);
	text-align: center;
	width: 100%;
	transition: background-color 0.2s ease, color 0.2s ease;
}

.footer-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	color: var(--color-muted);
	text-align: center;
}

.footer-top > * {
	flex: 1 1 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.icon {
	width: 20px;
	height: 20px;
	fill: var(--color-muted);
	transition: fill 0.2 ease;
}

a:hover .icon {
	fill: var(--color-accent);
}

.icon.mail-icon {
	transform: scale(1.2);
	transform-origin: center;
}

.icon.github-icon {
	transform: scale(1.1);
	transform-origin: center;
}

.footer-meta {
	color: var(--color-muted);
}

.location {
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
}

.location-icon {
	position: relative;
	vertical-align: middle;
	top: -1.5px;
}
