---
import Layout from "../layouts/Layout.astro";
import "../styles/dev.css"
---

<Layout>
	<section class="dev-message">
		<h1 class="fade-in">🚧 Website Under Development</h1>
		<p class="fade-in delay-1">Thanks for stopping by! This portfolio is currently in progress.</p>
		<p class="fade-in delay-2">
			In the meantime, feel free to check out my work on
		<a href="https://github.com/eleee28" target="_blank">GitHub</a>.
		</p>
	</section>
</Layout>