---
import Layout from '../layouts/Layout.astro';
import TechCarousel from '../components/TechCarousel.astro';
import "../styles/about.css"
---

<Layout>
	<section class="hero">

		<img src="/images/avatar.svg" alt="Elena Juarros" class="avatar fade-in" />

		<h1 class="fade-in delay-1">Hi, I'm Elena 👋</h1>
		<h2 class="fade-in delay-1">A Developer based in Madrid</h2>
		<p class="fade-in delay-2">
			I'm a developer who enjoys coding, whether it's building web apps or diving into low-level systems with C++. I like working across the stack and exploring different tools to keep growing as a problem solver.
		</p>
		<p class="fade-in delay-2">Currently exploring web and mobile apps!</p>
		
		<div class="cta fade-in delay-2">
			<a href="/dev" class="btn">View Projects</a>
			<a href="/dev" class="btn">Contact Me</a>
		</div>

		<TechCarousel />
	</section>
</Layout>
