---
import Layout from '../layouts/Layout.astro';
import TechCarousel from '../components/TechCarousel.astro';
import "../styles/about.css"
---

<Layout>
	<section class="hero">

		<img src="/images/avatar.svg" alt="Elena Juarros" class="avatar" />

		<h1>Hi, I'm Elena 👋</h1>
		<h2>A Developer based in Madrid</h2>
		<p>
			sknfkdml,dfl,spfmp
		</p>
		
		<div class="cta">
			<a href="/projects" class="btn">View Projects</a>
			<a href="/contact" class="btn">Contact Me</a>
		</div>

		<TechCarousel />
	</section>
</Layout>
