---
import ThemeToggle from "./ThemeToggle.astro";
import "../styles/header.css"
---

<header class="site-header">
	<div class="container header-inner">
		<div class="logo">
			<a href="/">Elena Juarros</a>
		</div>
		<nav class="site-nav">
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#about">Projects</a></li>
				<li><a href="#about">Contact</a></li>
			</ul>
		</nav>
		<ThemeToggle />
	</div>
</header>